# 忽略 Python 缓存
__pycache__/
*.py[cod]

# 忽略虚拟环境 (非常重要！)
venv/
env/
.venv/
.idea/

# 忽略本地数据文件夹 (根据你的项目需求，通常不上传大量数据)
data/chromadb/
# 如果你想保留文件夹结构但忽略内容，可以在子文件夹里放一个 .gitkeep

# 忽略 Mac 系统文件
.DS_Store

# 忽略 PyCharm 配置
.idea/